<?xml version="1.0"?>
<launch>
	<!--Joystick-->
	<include file="$(find isc_joy)/launch/joystick_xbox360.launch">
	</include>

	<!--uart-->

	<!--PI-->

	<!--UST-10lx-->
	<include file="$(find urg_node)/launch/urg_lidar.launch">
            <!-- param name="ip_address" value="192.168.0.10" / -->
        </include>

	<!--T265-->
	<include file="$(find realsense2_camera)/launch/rs_t265.launch">
	</include>

</launch>
